.paymentTableContainer {
  background-image: url('https://www.pexels.com/photo/macro-shot-of-wooden-planks-326333/');
  margin: 20px;
  text-align: center;
}


.paymentTable {
  width: 100%;
  border: 1px solid #0d0101;
}

.paymentTable th, .paymentTable td {
  padding: 7px;
  text-align: left;
}

.paymentTable th {
  background-color: #937979;
}

.paymentTable tbody tr:nth-child(even) {
  background-color: #dabcbc;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}
.sortButtonContainer {
  display: flex;
  justify-content: flex-end; 
  margin-bottom: 10px;
}
.sortButton{
  left: auto;
  background-color: #dabcbc;
  border-radius: 5px;
  width: 29px;
}

.sortImg{
  height: 17px;
  width: 15px;
}